* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Background Slider */
.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: slider 12s ease-in-out infinite, zoom 12s ease-in-out infinite;
  z-index: -1;
}

/* Slider Animation */
@keyframes slider {
  0% { background-image: url("https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D"); opacity: 1; }
  33% { background-image: url("https://media.istockphoto.com/id/157318186/photo/glowing-globe-at-night-series-middle-east.webp?a=1&b=1&s=612x612&w=0&k=20&c=kRiUbU3X_YTs2_KhjCSnqeE08jmo1hDXD4B8_CC67_4="); opacity: 1; }
  66% { background-image: url("https://plus.unsplash.com/premium_photo-1686255006386-5f58b00ffe9d?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8YmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D"); opacity: 1; }
  100% { background-image: url("https://images.unsplash.com/photo-1476820865390-c52aeebb9891?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D"); opacity: 1; }
}

/* Zoom Effect */
@keyframes zoom {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

#mh {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 25px;
  row-gap: 20px;
  margin-top: 20px;
  align-items: center;
}

#todoip, #todoDate {
  font-size: 15px;
  padding: 10px 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-d, .btn-todo {
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* Delete Button */
.btn-d {
  background-color: rgb(228, 20, 20);
  color: aliceblue;
}

.btn-d:hover {
  transform: scale(1.25);
  border-radius: 20px;
  background-color: red;
}

/* Add Button */
.btn-todo {
  background-color: green;
  color: aliceblue;
}

.btn-todo:hover {
  transform: scale(1.25);
  border-radius: 20px;
  background-color: greenyellow;
  color: black;
}

/* To-Do List Container */
.todo-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  width: 600px;
  color: #fff;
}

/* Styling for Each To-Do Item */
.todo-container div {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
